.contenedorDetail{
    display: flex;
    justify-content: center;

}

.cardDetail{
    display: flex;
    flex-direction: column;
        
}

.cardDetail span{
    border-style: solid;
    border-color:grey;
    border-width: 0.5px;
    width: 22vw;
    text-align: center;
}

.leyenda{
    font-weight: bold;
    background-color: lightblue;    
}